<form [formGroup]="form" (submit)="enterRoom()">

  <label for="nickname">Your nickname:</label> <br />
  <input id="nickname" type="text" formControlName="nickname" />

  <br />
  <br />


  <label for="roomName">Room Name:</label> <br />
  <input id="roomName" type="text" formControlName="roomName" />

  <br />
  <br />

  <label for="roomName">Room Password:</label> <br />
  <input type="password" formControlName="password" />

  <br />
  <br />

  <button type="submit" [disabled]="form.invalid">Join!</button>

</form>